<div class='container-fluid '>
  <div class='row SectionFaq'>
    <div class='col-12'>
      <div class="d-flex justify-content-center h-100">
        <div class="searchbar">
          <input class="search_input" type="text" name="" placeholder="Rechercher...">
          <a href="#" class="search_icon"><i class="fas fa-search"></i></a>
        </div>
      </div>
    </div>
  </div>

  <div class='row SectionFaq2'>
    <div class='row boxCenter'>
      <div class='col-4'>
        <div class="boxFaq">Utiliser theProject
          Tout ce qu'il faut savoir de l'appli Amino et ses applis indépendantes!</div>
      </div>
      <div class='col-4'>
        <div class="boxFaq">
          Le Coin des Leaders et Curators
          Tout ce que vous avez besoin pour bâtir, gérer, grandir, et apprécier votre communauté theProject !
        </div>
      </div>
      <div class='col-4'>
        <div class="boxFaq">
          Ressources supplémentaires
          Pour parents, la police, et détenteurs des droits
        </div>
      </div>
    </div>
    <div class='col-12 '>
      <div class="boxFaq2 boxCenter">
        Utiliser theProject
        Tout ce qu'il faut savoir de l'appli Amino et ses applis indépendantes!
      </div>
    </div>

  </div>
  <div class='row SectionFaq3'>
    
      <div class='col-6 '>
        
            Centre d’Aide Amino
        
      </div>

      <div class='col-6 '>
          <div class='selectlang'>
          <mat-form-field>
              <mat-select [(value)]="selected">
                <mat-option value="Francais" >Français</mat-option>
                <mat-option value="English">English</mat-option>
              </mat-select>
            </mat-form-field>   
          </div>                  
      </div>
    </div>
  </div>