<div class="container-gallery">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>Shiba Inu</mat-card-title>
      <mat-card-subtitle>Dog Breed</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image src="https://material.angular.io/assets/img/examples/shiba2.jpg" alt="Photo of a Shiba Inu">
    <mat-card-content>
      <p>
        The Shiba Inu is the smallest of the six original and distinct spitz breeds of dog from Japan.
        A small, agile dog that copes very well with mountainous terrain, the Shiba Inu was originally
        bred for hunting.
      </p>
      <div>
        <a [routerLink]="[ '/gallery' ]">Lire la suite...</a>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <p>{{ creationDate | date }}</p>
      <div class="btn-actions">
        <button mat-button>
          <i class="material-icons">thumb_up</i>
        </button>
        <!--<p> {{ likes }} </p>-->
        <button mat-button>
            <i class="material-icons">comment</i>
        </button>
        <!--<p> {{ comments }}</p>-->
      </div>
    </mat-card-actions>
  </mat-card>
</div>
