.example-card 
{
    max-width: 400px;
}
  
.example-header-image {
background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
background-size: cover;
}

.container-gallery
{
    display: inline-block;
    margin: 30px 20px 20px 20px;
}

/*.btn-actions > p
{
    margin: -25px 0 0 60px ;
}*/

.container-nav
{
    margin-top: 20px;
}

.navigation
{
    text-align: center;
}

.navigation > button
{
    margin-right: 20px;
}

.mat-stroked-button
{
    border-radius: 10px;
}

.categories-icon, .recent-icon, .info-icon
{
    margin-right: 10px;
}

#searchInput
{
    border-radius: 10px;
    margin-right: 5px;
    padding: 5px;   
    box-sizing: border-box;
}

.likes
{
    margin-left: 10px;
}

.comments
{
    margin-left: 10px;
}