#pCover {
    position: absolute;
    z-index: -1;
}

#pdp {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 5%;
}

#userName {
    text-align: center;
    font-size: 32px;
}

mat-accordion {
    position: absolute;
    top: 2%;
    width: 100%;
}

.myFav {
    width: 18rem;
    margin: 3% 2% 0 0;
}

.carousel-item {
    background: #000;
}