/**************************************************
 *********** CSS For The User's Profile ***********
 **************************************************/

#pCover {
    position: absolute;
    z-index: -1;
}


/**************************************************
 ******* CSS For The User's Profile Picture *******
 **************************************************/

#pdp {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 5%;
}


/**************************************************
 **** CSS For The Button Invite To Follow User ****
 **************************************************/

#goFollow {
    background: #1E90FF;
    margin-left: 1%;
}


/**************************************************
 ************ CSS For The User's Name *************
 **************************************************/

#userName {
    text-align: center;
    font-size: 32px;
}


/**************************************************
 **************** CSS For The Tabs ****************
 **************************************************/

mat-accordion {
    position: absolute;
    top: 2%;
    width: 75%;
}


/**************************************************
 ******* CSS For User's Favorites Subjects ********
 **************************************************/

.myFav {
    width: 18rem;
    margin-left: 37%;
}

.carousel-item {
    background: #000;
}