<div class="row justify-content-center">
    <div class="col-4" id="cover">

        <div class="row justify-content-center" style="margin-top: 25%; text-align:center;">
            <div class="col-4">
                <img src="../../assets/pdp.png" id="pdp">
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-5">
                <span>Toto Toto</span>
            </div>
        </div>
    </div>
</div>
<mat-grid-list cols="5" rowHeight="33%">
    <mat-grid-tile [colspan]="1" [rowspan]="3" [ngStyle]="{'background': 'red'}">
        Pub
    </mat-grid-tile>
    <mat-grid-tile [colspan]="3" [rowspan]="1" [ngStyle]="{'background': 'blue'}">
        <img src="../../assets/pCover.jpeg" alt="" id="pCover">
    </mat-grid-tile>
    <mat-grid-tile [colspan]="1" [rowspan]="3" [ngStyle]="{'background': 'red'}">
        Pub
    </mat-grid-tile>
</mat-grid-list>