#pCover {
    position: absolute;
    z-index: -1;
}

#pdp {
    display: block;
    width: 100px;
    height: 100px;
    border-radius: 100%;
    margin-left: 5%;
}

#userName {
    text-align: center;
    font-size: 32px;
}

#myFav {
    overflow: scroll;
}

mat-accordion {
    position: absolute;
    top: 2%;
    width: 100%;
}