<mat-grid-list cols="5" rowHeight="33.333%">
    <!--comment> Border Left (Nothing) </comment-->
    <mat-grid-tile class="border-right" [colspan]="1" [rowspan]="3" [ngStyle]="{'background': '#F6FEFE'}">
    </mat-grid-tile>


    <!--comment> Center Top (User's profile) </comment-->
    <mat-grid-tile [colspan]="3" [rowspan]="1" [ngStyle]="{'background': 'rgba(255, 255, 255, 0.7)', 'margin-top' : '1%'}">
        <!--comment> Background User's Profile </comment-->
        <img src="../../assets/pCover.jpeg" alt="" id="pCover">

        <!--comment> User's profile picture and name </comment-->
        <figure>
            <img src="../../assets/pdp.png" id="pdp">
            <figcaption id="userName">
                Toto Toto
            </figcaption>
        </figure>

        <!--comment> Button follow user </comment-->
        <button mat-fab>
            <mat-icon aria-label="Example icon-button with a heart icon">favorite</mat-icon>
        </button>

        <!--comment> Button invite to follow user </comment-->
        <button mat-fab id="goFollow">
            <mat-icon aria-label="Example icon-button with a heart icon">gps_fixed</mat-icon>
        </button>
    </mat-grid-tile>


    <!--comment> Border Right (Nothing) </comment-->
    <mat-grid-tile class="border-left" [colspan]="1" [rowspan]="3" [ngStyle]="{'background': '#F6FEFE'}">
    </mat-grid-tile>


    <!--comment> Center Bottom (User's information) </comment-->
    <mat-grid-tile [colspan]="3" [rowspan]="2">

        <!--comment> Tabs </comment-->
        <mat-accordion id="myFav">
            <!--comment> Tab Bio </comment-->
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Bio
                    </mat-panel-title>
                    <mat-panel-description>
                        My biography
                    </mat-panel-description>
                </mat-expansion-panel-header>
                <!--comment> User's Biography </comment-->
                <p>Bonjour je suis le testeur.</p>
            </mat-expansion-panel>

            <!--comment> Tab Favorites Subjects </comment-->
            <mat-expansion-panel (opened)="panelOpenState = true" (closed)="panelOpenState = false">
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        Subjects
                    </mat-panel-title>
                    <mat-panel-description>
                        My subjects
                    </mat-panel-description>
                </mat-expansion-panel-header>

                <!--comment> Carousel With User's Favorites Subjects </comment-->
                <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
                    <div class="carousel-inner">
                        <!--comment> Browse The User's Favorites Subjects </comment-->
                        <ng-container *ngFor="let tile of tiles; index as i;">
                            <!--comment> Check If It's The First User's Favorites Subjects </comment-->
                            <ng-container *ngIf="i === 0">
                                <div class="carousel-item active">
                                    <!--comment> The  User's Favorites Subjects </comment-->
                                    <div class="card myFav">
                                        <!--comment> Subject's Picture </comment-->
                                        <img src="../../assets/pdp.png " class="card-img-top " alt="... ">
                                        <!--comment> Subject's Information </comment-->
                                        <div class="card-body ">
                                            <!--comment>  Subject's Title </comment-->
                                            <h5 class="card-title ">{{tile.title}}</h5>
                                            <!--comment> Subject's Description </comment-->
                                            <p class="card-text ">{{tile.text}}</p>
                                            <!--comment> Link To Go To The Subject </comment-->
                                            <a href="# " class="btn btn-primary ">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                            <!--comment> Check If It's Not The First User's Favorites Subjects </comment-->
                            <ng-container *ngIf="i > 0">
                                <div class="carousel-item">
                                    <!--comment> The  User's Favorites Subjects </comment-->
                                    <div class="card myFav">
                                        <!--comment> Subject's Picture </comment-->
                                        <img src="../../assets/pdp.png " class="card-img-top " alt="... ">
                                        <!--comment> Subject's Information </comment-->
                                        <div class="card-body ">
                                            <!--comment> Subject's Title </comment-->
                                            <h5 class="card-title ">{{tile.title}}</h5>
                                            <!--comment> Subject's Description </comment-->
                                            <p class="card-text ">{{tile.text}}</p>
                                            <!--comment> Link To Go To The Subject </comment-->
                                            <a href="# " class="btn btn-primary ">Go somewhere</a>
                                        </div>
                                    </div>
                                </div>
                            </ng-container>
                        </ng-container>
                    </div>
                    <!--comment> See Previous User's Favorites Subjects </comment-->
                    <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <!--comment> See Next User's Favorites Subjects </comment-->
                    <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </mat-grid-tile>
</mat-grid-list>